{{define "tracemoeresult"}}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title> AniFindr </title>
        <link rel="icon" type="image/x-icon" href="/assets/images/AniFindrFavicon.ico">
        <link rel="stylesheet" href="/assets/style/tracemoeresult.css">
        <link rel="stylesheet" href="/assets/style/header.css">
        <link rel="stylesheet" href="/assets/style/footer.css">
    </head>
    <body>
        <header>
            <div class="header_buttons">
                <a href="/tracemoe"> Scans </a>
                <a href="/index#categories"> Category </a>
            </div>

            <div class="header_logo">
                <a href="/index"><img src="/assets/images/AniFindrLogo.png"></a>
            </div>
            
            <div class="header_searchbar">
                <input type="text" placeholder="search">
                <div class="search"></div>
            </div>
        </header>

        <page>
            {{range .Result}}
            <div class="container">
                <div class="text">
                    <p> <pink> Anilist ID </pink> : {{.Anilist}} </p>
                    <p> <pink> Filename </pink> : {{.Filename}} </p>
                    <p> <pink> Episode </pink> : {{if .Episode}}{{.Episode}}{{else}}Unknown{{end}}</p>
                    <p> <pink> Similarity </pink> : {{.Similarity}}</p>
                </div>
                <video width="320" height="240" controls autoplay muted loop>
                    <source src="{{.Video}}" type="video/mp4">
                </video>
            </div>
            {{end}}
        </page>

        <footer>
            <div class="footer_logo">
                <img src="../assets/images/AniFindrLogo.png">
            </div>
            <div class="footer_text">
                <p> AniFindr </p>
                <p> © 2021 AniFindr. All rights reserved. </p>
            </div>
        </footer>
    </body>
</html>
{{end}}