* {
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: Anta;
    src: url("/assets/fonts/Anta-Regular.ttf");
}

body {
    background-color: black;
}

website {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
}

website>scan {
    border: 3px solid white;
    border-radius: 10px;
    width: 90vw;
    height: 95vh;

    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
}

website>scan>.scan_offset {
    width: 90vw;
    height: 150px;
}

website>scan>.scan_page {
    width: 90vw;
    height: 80vh;

    display: flex;
    flex-flow: row nowrap;
    justify-content: space-evenly;
    align-items: center;
}

website>scan>.scan_page>.scan_page_info {
    width: 60%;
    height: 80%;

    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: flex-start;
    gap: 30px;
}

website>scan>.scan_page>.scan_page_info>.scan_page_info_logo {
    width: 50%;
    height: 100px;
    background-image: url("/assets/images/AniFindrName.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

website>scan>.scan_page>.scan_page_info>.scan_page_info_text {
    width: 60%;
    height: 100px;
    font-size: 25px;
    color: white;
    font-family: Anta;
    padding-left: 5%;
}

website>scan>.scan_page>.scan_page_info>.scan_page_info_text>p>span {
    color: #FF00D6;
}

website>scan>.scan_page>.scan_page_button {
    width: 25%;
    height: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
}


website>scan>.scan_page>.scan_page_button>a {
    width: 100%;
    height: 100%;
    border-radius: 100px 0px;
    background-image: url(../images/Anime_Mashup.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    filter: grayscale(1);
    transition: .5s;
}

website>scan>.scan_page>.scan_page_button>a:hover, website>#scan>.scan_page>.scan_page_button>p:hover ~ a {
    filter: grayscale(0);
}

website>scan>.scan_page>.scan_page_button>p {
    position: absolute;
    color: #FF00D6;
    font-family: Anta;
    font-size: 40px;
    transition: .5s;
    z-index: 1;
}

website>scan>.scan_page>.scan_page_button>a:hover ~ p, website>#scan>.scan_page>.scan_page_button>p:hover {
    cursor: pointer;
}

website>suggestions {
    margin-top: 5%;
    width: 90vw;
    height: 80vh;
    border: 3px solid white;
    border-radius:  10px;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-evenly;
    align-items: center;
}

website>suggestions>.suggestions_toprow {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-evenly;
    align-items: center;
}

website>suggestions>.suggestions_toprow>.suggestions_toprow_anime {
    width: 20%;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
}

website>suggestions>.suggestions_toprow>.suggestions_toprow_anime>img {
    object-fit: cover;
    width: 100%;
    border-radius: 10px;
}

website>suggestions>.suggestions_toprow>.suggestions_toprow_anime>p {
    color: #FF00D6;
    font-family: Anta;
}

website>suggestions>.suggestions_toprow>.suggestions_toprow_anime>a {
    width: 20%;
    height: 20%;
    color: #000;
    position:absolute;
}

website>suggestions>.suggestions_midrow {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-evenly;
    align-items: center;
}

website>suggestions>.suggestions_midrow>p {
    color: #FF00D6;
    font-family: Anta;
    width: 40%;
    text-align: center;
    font-size: 30px;
    padding: 2.5%;
    border-bottom: 1px solid #FF00D6;
    border-radius: 25px;
}

website>suggestions>.suggestions_midrow>.suggestions_midrow_anime {
    width: 20%;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
}

website>suggestions>.suggestions_midrow>.suggestions_midrow_anime>img {
    object-fit: cover;
    width: 100%;
    border-radius: 10px;
}

website>suggestions>.suggestions_midrow>.suggestions_midrow_anime>p {
    color: #FF00D6;
    font-family: Anta;
}

website>suggestions>.suggestions_midrow>.suggestions_midrow_anime>a {
    width: 20%;
    height: 20%;
    color: #000;
    position:absolute;
}

website>suggestions>.suggestions_lowrow {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-evenly;
    align-items: center;
}

website>suggestions>.suggestions_lowrow>.suggestions_lowrow_anime {
    width: 20%;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
}

website>suggestions>.suggestions_lowrow>.suggestions_lowrow_anime>img {
    object-fit: cover;
    width: 100%;
    border-radius: 10px;
}

website>suggestions>.suggestions_lowrow>.suggestions_lowrow_anime>p {
    color: #FF00D6;
    font-family: Anta;
}

website>suggestions>.suggestions_lowrow>.suggestions_lowrow_anime>a {
    width: 20%;
    height: 20%;
    color: #000;
    position:absolute;
}

website>categories {
    margin-top: 5%;
    width: 90vw;
    height: 80vh;
    border: 3px solid white;
    border-radius:  10px;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    gap: 50px;
    align-items: center;
}

website>categories>h1 {
    color: #FF00D6;
    font-family: Anta;
    font-size: 40px;
    padding: 2.5% 5% 2.5% 5%;
    border-bottom: 1px solid #FF00D6;
    border-radius: 25px;
}

website>categories>.categories_toprow {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-evenly;
    align-items: center;
}

website>categories>.categories_lowrow {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-evenly;
    align-items: center;
}

website>categories>.categories_toprow>.categories_toprow_anime {
    width: 20%;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
}

website>categories>.categories_lowrow>.categories_lowrow_anime {
    width: 20%;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
}

website>categories>.categories_toprow>.categories_toprow_anime>img {
    width: 100%;
    border-radius: 10px;
}

website>categories>.categories_lowrow>.categories_lowrow_anime>img {
    width: 100%;
    border-radius: 10px;
}

website>categories>.categories_toprow>.categories_toprow_anime>p {
    color: #FF00D6;
    font-family: Anta;
}

website>categories>.categories_lowrow>.categories_lowrow_anime>p {
    color: #FF00D6;
    font-family: Anta;
}

website>categories>.categories_toprow>.categories_toprow_anime>a {
    width: 20%;
    height: 20%;
    color: #000;
    position:absolute;
}

website>categories>.categories_lowrow>.categories_lowrow_anime>a {
    width: 20%;
    height: 20%;
    color: #000;
    position:absolute;
}