* {
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: Anta;
    src: url("/assets/fonts/Anta-Regular.ttf");
}

body {
    background-color: black;
}

page {
    padding-top: 150px;
    width: 95vw;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

page>.container {
    border: 3px solid white;
    border-radius: 10px;
    padding: 20px;
    width: 80vw;
    height: 200px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

page>.container>.text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 10px;
}

page>.container>.text>p {
    color: white;
    font-family: Anta;
}

page>.container>.text>p>pink {
    color: #FF00FF;
    text-decoration: underline;
}